<h1>About Us</h1>
<br>
<p>Welcome to the <b>Jungle!</b></p>

<p>Our store contains <i>eccentric</i> items that are <i>unique</i> to us.</p>

<p>Add interesting items to your cart and purchase them with ease!</p>